

  body {
    display: flex; /* Enable flexbox */
    min-height: 100vh; /* Minimum height of the viewport */
    margin: 0; /* Remove default margin */
    background-image: url("../files/photos/background_image.jpeg");
    background-size: 100% 150%;
    background-position: top -150px right 0px;
    background-repeat: no-repeat;
    /* background-color: black; */
  }

  .top_nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full height */
    flex: 0 0 220px; /* Width of the nav, adjust as needed */
    position: relative; /* Positioning context */
  }

  .top_nav ul {
    list-style-type: none; /* Ensures bullets are shown */
  }

  .top_nav li {
    display: inline-block; /* Ensures each link is on a new line */
    position: relative;
    margin-bottom: 5px; /* Space between items */
    /* line-height: 1.5; */
  }

  .top_nav li::before {
    content: "■"; /* Custom bullet */
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    color: white;
    transition: transform 0.3s ease;
  }

  .top_nav li:hover:before {
    transform: translateY(-70%) rotate(315deg);
  }

  .top_nav a {
    display: inline-block;
    text-align: start;
    padding: 0px 10px;
    font-size: 50px;
    font-family: 'Tungsten-Bold';
    border-radius: 20px;
  }

  @font-face {
    font-family: 'Tungsten-Bold';
    src: url(../files/fonts/Tungsten-Bold.ttf);
  }

  .top_nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: .3s ease;
  }

  /* When selected */
  .top_nav a.active {
    font-size: 50px;
    /* font-weight: 500; */
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid rgb(226, 243, 226); */
    color: rgb(223, 69, 69);
  }  

  /* When hovered */
   .top_nav a:hover {
    transform: translateX(10px);
    transition: .3s ease;
    color: rgb(28, 217, 231);
  }

  .content {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    color: white;

  }

  .content h1 {
    font-size: 75px;
    color: rgb(223, 69, 69);
  }

  .content img {
    margin: auto;
    transform: translateX(-50px)
  }

  .content h2 {
    font-size: 75px;
    display: inline-block;
    vertical-align:text-bottom;
    color: white;
  }

  .content p {
    font-size: 25px;
    display: block;
    text-align:center;
  }

  #background_info {
    text-align: left;
    transform: translateX(400px);
    color: white;
  }

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust gap as needed */
    flex-wrap: wrap; /* Allow wrapping if the screen is too small */
    margin-top: auto;
  }

  #email {
    color: white;
  }




  /* .content {
    width: 100%;
    position: relative;
    top: 50%;
    text-align: center;
    color: rgb(100, 149, 237);
  }

  .content h1 {
    font-size: 70px;
    margin-top: 80px;
  }

  .content p {
    align-content: center;
    margin: 20px auto;
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
  } */

  button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(161, 50, 50);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  button:hover {
    background: white;
    color: rgb(223, 69, 69);
  }

  /*
  span {
    background: rgb(226, 243, 226);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.25s;
  }

  button:hover span {
    width: 100%;
    z-index: -2;
  }

  button:hover {
    border: rgb(100, 149, 237);
  }

  .qr_code img {
    width: 300px;
    border-radius: 50px;
    float: center;
    object-fit: cover;
    overflow: auto;
    transform: translateY(-7%);
  }
   */
