/* img {
    width: 300px;
    border-radius: 100px;
    float: left;
    margin-right: 100px;
    object-fit: cover;
  } */

  /* .username {
    font-weight: bold;
  } */

  body {
    display: flex; /* Enable flexbox */
    min-height: 100vh; /* Minimum height of the viewport */
    margin: 0; /* Remove default margin */
    background-color: black;
  }

  .top_nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full height */
    flex: 0 0 200px; /* Width of the nav, adjust as needed */
    position: relative; /* Positioning context */
  }

  .top_nav a {
    display: block;
    text-align: start;
    /* padding: 10px 16px; */
    font-size: 50px;
    font-family: 'Tungsten-Bold';
    border-radius: 20px;
  }

  /* When selected */
  .top_nav a.active {
    font-size: 80px;
    font-weight: 500;
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid rgb(226, 243, 226); */
    color: rgb(223, 69, 69);
  }  

  /* When hovered */
   .top_nav a:hover {
    transform: translateX(10px);
    transition: .2s ease;
    color: rgb(28, 217, 231);
  }
  

  .top_nav ul {
    list-style-type: disc; /* Ensures bullets are shown */
    padding-left: 20px; /* Adjust this value to ensure bullets are visible inside the nav area */
  }

  .top_nav li {
    display: block; /* Ensures each link is on a new line */
    position: relative;
    margin-bottom: 10px; /* Space between items */
  }

  .top_nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* text-align: center; */
    color: rgb(100, 149, 237);
  }

  .content h1 {
    font-size: 70px;
    margin-top: 0;
  }

  .content p {
    /* align-content: center;
    margin: 20px auto; */
    font-weight: 100;
    line-height: 25px;
  }

  @font-face {
    font-family: 'Tungsten-Bold';
    src: url(../files/fonts/Tungsten-Bold.ttf);
  }

  /* button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(226, 243, 226);
    background: transparent;
    color: rgb(100, 149, 237);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  span {
    background: rgb(226, 243, 226);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.25s;
  }

  button:hover span {
    width: 100%;
    z-index: -2;
  }

  button:hover {
    border: rgb(100, 149, 237);
  }

  .countdownButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(247, 241, 242);
    background: transparent;
    color: rgb(251, 11, 103);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  /*  */

