  .my_photos img {
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }

  .username {
    font-weight: bold;
  }

  .top_nav {
    position:relative;
    width: 100%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .top_nav a {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-style: hidden;
    border-radius: 25px;
  }
 

   .top_nav a:hover {
    background-color: rgb(226, 243, 226);
    color: darkgreen;
  }

  .top_nav a.active {
    background-color: rgb(226, 243, 226);
    color: darkgreen;
    transition: none;
  }  

  .top_nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }

  .top_nav ul li a {
    text-decoration: none;
    color: rgb(88, 149, 114);
    text-transform: uppercase;
  }

  .top_nav ul li::after  {
    content: '';
    height: 3px;
    width: 0;
    background: #6cc9c0;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
  }

  .top_nav ul li:hover::after {
    width: 100%;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(100, 149, 237);
  }

  .content h1 {
    font-size: 70px;
    margin-top: 80px;
  }

  .content p {
    align-content: center;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
  }

  button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(226, 243, 226);
    background: transparent;
    color: rgb(100, 149, 237);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  span {
    background: rgb(226, 243, 226);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.25s;
  }

  button:hover span {
    width: 100%;
    z-index: -2;
  }

  button:hover {
    border: rgb(100, 149, 237);
  }

  
  
