.banner {
    width: 100%;
    height: 45vh;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #161b29;
    background-size: contain;
}

.banner .slider {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 10%;
    left: calc(50% - 150px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    animation-play-state: var(--paused);
    z-index: 2;
}

@keyframes autoRun {
    from { transform: perspective(1000px) rotateX(-5deg) rotateY(0deg); }
    to   { transform: perspective(1000px) rotateX(-5deg) rotateY(360deg); }
}

.banner .slider .item {
    overflow: visible;
    position: absolute;
    height: 50%;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
        translateZ(350px);
}

.banner .slider .item img {
    overflow: visible;
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 0px 7px white;
}

.banner .slider .item img:hover {
    animation-play-state: paused;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}