  .top_nav {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .top_nav a {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-style: hidden;
    border-radius: 25px;
  }
  
  
