
@font-face {
  font-family: 'FunFont';
  src: url('./assets/fonts/CheerfulNotes.ttf') format('truetype');
}

@font-face {
  font-family: 'FunFontProfessional';
  src: url('./assets/fonts/ChelaOneRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'OSBold';
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

.gradient-text {
  background: linear-gradient(90deg, #f37050, #f49247); /* your gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}