
@font-face {
  font-family: 'FunFont';
  src: url('./assets/fonts/CheerfulNotes.ttf') format('truetype');
}

@font-face {
  font-family: 'FunFontProfessional';
  src: url('./assets/fonts/ChelaOneRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'OSBold';
  src: url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

.header-gradient-text {
  background: linear-gradient(90deg, #3542f1, #8b98ef); /* your gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.education-gradient-text {
  background: linear-gradient(90deg, #f37050, #f49247); /* your gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.light-orange-text {
  color: #f49247;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

